@model int
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully</h1>
        Your Order Number is :@Model<br /><br />
        <img src="~/images/product/0421b086-a810-40e0-8e5c-3f708d23d0b4.webp" />

    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />
    </div>
</div>